@model ITB.VENDIX.BE.CajaDiario


@if (Model != null)
{
    <style>
        .BordeSeleccion {
            border-style: dashed;
            border-width: 4px;
        }
    </style>
    <ul class="stats not-on-phone">
        <li class="saldos">
            <strong>@Model.SaldoInicial</strong>
            <span class="green">Saldo Inicial(S/.)</span>
        </li>
        <li class="saldos">
            <strong>
                <label id="lblEntradas">@String.Format("{0:0.00}", Model.Entradas)</label>
            </strong>
            <span class="green">Entradas(S/.)</span>
        </li>
        <li class="saldos">
            <strong>
                <label id="lblSalidas">@String.Format("{0:0.00}", Model.Salidas)</label>
            </strong>
            <span class="green">Salidas(S/.)</span>
        </li>
        <li class="saldos">
            <strong>
                <label id="lblSaldoFinal">@Model.SaldoFinal</label>
            </strong>
            <span class="red">Neto Caja(S/.)</span>
        </li>
        <li>
            <strong>@(Model.IndCierre ? "CERRADO" : "ABIERTO")</strong>
            <small>@Model.FechaIniOperacion</small>
            <span style="cursor: pointer" id="lblMostrarSaldos">@Model.Caja.Denominacion</span>
        </li>
    </ul>

    <div class="grid_12">
        <br />
        <div class="box tabbedBox">
            <div class="header">
                <h2>MOVIMIENTOS @Model.Caja.Denominacion</h2>
                <ul>
                    <li><a href="#t1-c1">COBRANZAS</a></li>
                    <li><a href="#t1-cd">DESEMBOLSOS</a></li>
                    <li><a href="#t1-c2">OPERACIONES</a></li>
                    <li><a href="#t1-c3">ARQUEO</a></li>
                </ul>
            </div>
            <br />
            <div id="tabcaja" class="content tabbed">
                <div id="t1-c1">
                    <div class="grid_9">
                        <input id="txtCliente" type="search" placeholder="BUSCAR CLIENTE POR DNI Y NOMBRES" style="width: 95%" autofocus />
                        <div class="msjClienteEncontrado" style="display: none; margin: 0">
                            <div class="alert success sticky ">
                                <span class="icon"></span><strong>Encontrado!</strong>
                                <label id="lblCliente"></label>
                            </div>

                        </div>
                        <div class="spacer"></div>
                    </div>

                    <div id="divCxC" class="grid_12 box">
                        <div class="header ">
                            <h2><img class="icon" src="~/img/icons/packs/fugue/16x16/receipt-invoice.png" />CUENTAS POR COBRAR</h2>
                        </div>

                        <table id="grdcxc"></table>
                        <div id="grdpcxc"></div>

                        <div id="actCxC" class="actions " style="display: none">
                            <div class="right">
                                <a id="btnPagoCxC" class="button">Pagar Cuenta</a>
                            </div>
                        </div>
                    </div>


                    <div class="box grid_12 msjCreditoEncontrado">

                        <div class="header">
                            <h2><img class="icon" src="~/img/icons/packs/fugue/16x16/receipt-invoice.png" />CREDITO  [ <label id="lblCreditoActual"></label> ]</h2>
                        </div>
                        <div class=" msjCreditoEncontrado" style="display: none; background: #f0f1f4">
                            <br />
                            <div class="grid_6 center-elements" id="divbtncreditos"></div>
                            <div class="grid_6">
                                <div>
                                    <label for="txtPagoLibre">Pago Libre:</label>
                                    <input type="text" id="txtPagoLibre" />
                                    <button id="btnPagoLibre" class="button red block"><span class="icon icon-list"></span>Pago Libre</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <table id="grdBuscar"></table>
                        <div id="grdpBuscar"></div>
                        <div class="actions msjCreditoEncontrado" style="display: none">
                            <span class="badge block dark" style="float: right">
                                TOTAL: <span id="lblMontoPago">0.00</span> Recibido:
                                <input id="txtImporteRecibido" type="text" style="font-size:small; text-align: right; width: 80px; " />
                                VUELTO: <span id="lblvuelto">0.00</span>
                                <button id="btnPagar" class="button red block"><span class="icon icon-ok"></span>Pagar Couta</button>
                            </span>
                        </div>
                    </div>

                    <div class="box grid_12 msjCreditoEncontrado" style="display: none">
                        <div class="actions" id="divCancelarCreditoShow">
                            <button id="btnCancelarCreditoShow" class="button red block"><span class="icon icon-legal"></span>Cancelar Crédito</button>
                        </div>
                        <div class="CancelarCredito">
                            <table id="grdCancelarCredito"></table>
                            <div id="grdpCancelarCredito"></div>
                        </div>
                        <div class="actions CancelarCredito" style="display: none">
                            <button id="btnCancelarCredito" class="button red block" style="float: right"><span class="icon icon-ok"></span>Cancelar Crédito</button>
                        </div>
                    </div>

                </div>
                <div id="t1-cd">
                    <div class="grid_9">
                        <input id="txtClienteds" type="search" placeholder="BUSCAR CLIENTE POR DNI Y NOMBRES" style="width: 95%" />
                        <div class="msjClienteEncontradods" style="display: none; margin: 0">
                            <div class="alert success sticky ">
                                <span class="icon"></span><strong>Encontrado!</strong>
                                <label id="lblClienteds"></label>
                            </div>

                        </div>
                        <div class="spacer"></div>
                        <div id="divdesembolso" class="grid_12 box">
                            <div class="header ">
                                <h2><img class="icon" src="~/img/icons/packs/fugue/16x16/receipt-invoice.png" />DESEMBOLSO</h2>
                            </div>

                            <table id="grdDesembolso"></table>
                            <div id="grdpDesembolso"></div>

                            <div id="actDesembolso" class="actions " style="display: none">
                                <div class="right">
                                    <a id="btnDesembolso" class="button">Desembolsar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="t1-c2">
                    <p class="_50 small">
                        <label>Operación:</label>
                        <input id="txtPersonaES" type="search" placeholder="BUSCAR PERSONA POR DNI Y NOMBRES" />
                    </p>
                    <p class="_25 small">
                        <label>Operación:</label>
                        @Html.DropDownList("cboTipoOperacion", (IEnumerable<SelectListItem>)ViewBag.cboTipoOperacion)
                    </p>
                    <p class="_50 small">
                        <label>Descripcion:</label>
                        <input id="txtDescripcionSalida" type="text" />
                    </p>
                    <p class="_25 small">
                        <label>Importe:</label>
                        <input id="txtImporteSalida" type="text" style="text-align: center" />
                    </p>
                    <p class="_25 small" style="float: right">
                        <a id="btnPagarSalida" class="button red" style="float: right">Realizar Operación</a>
                    </p>
                </div>

                <div id="t1-c3">
                    <table id="grdEntradas"></table>
                    <div id="grdpEntradas"></div>
                    <br />
                    <table id="grdSalidas"></table>
                    <div id="grdpSalidas"></div>
                    <br />
                    <button id="btnPrevSaldoCaja" class="button block"><span class="icon icon-print"></span>Previzualizar Saldo Caja</button>
                    <button id="btnCerrar" style="float: right" class="button red block"><span class="icon icon-play"></span>Cerrar Caja</button>
                    <button id="btnTransFerirBoveda" style="float: right" class="button green block"><span class="icon icon-play"></span>Transferir Saldos</button>
                    <span class="badge block blue dark" style="font-size: large;float: right">TOTAL CAJA: S/. <span id="lblNetoArq">0.00</span></span>
                </div>

            </div>

        </div>
    </div>

    <div style="display: none;" id="dlgTransferirBoveda" title="Transferencia a Boveda">
        <form class="full validate">
            <div class="row">
                <label for="txtMontoTransferencia">
                    <strong>Monto:</strong>
                </label>
                <div>
                    <strong><span id="lblMensaje" style="color:red"></span></strong><br />
                    <span><strong>Monto total de Caja : S/.  <span id="lblMontoCaja" style="color:blue"></span></strong></span>
                    <input type="number" id="txtMontoTransferencia" placeholder="0.00" />
                </div>
            </div>

            <div class="row">
                <label for="txtDescripcion">
                    <strong>Descripción :</strong>
                </label>
                <div>
                    <input type="text" id="txtDescripcion" placeholder="Descripcion de transferencia" />
                </div>
            </div>

        </form>
        <div class="actions">
            <div class="left">
                <button class="grey cancel">Salir</button>
            </div>
            <div class="right">
                <input id="btnEnviar" type="button" value="Guardar" />
            </div>
        </div>
    </div>



    <script>
        $(function () {
            $.data(document.body, 'PersonaId', 0);
            $.data(document.body, 'PersonaESid', 0);
            $("#txtImporteSalida,#txtPagoLibre").numeric(2);

            $('#lblMostrarSaldos').click(function () {
                $('.saldos').toggle();
            });


            $("#btnPrevSaldoCaja").click(function () {
                event.preventDefault();
                var ruta = '@Url.Action("ReporteSaldoCajaActual", "Reporte")';
                window.open(ruta);
                return false;
            });

            $('a[href="#t1-c3"]').click(function () {
                $("#grdEntradas,#grdSalidas").jqGrid('setGridParam', { page: 1 }).trigger("reloadGrid");
                $("#grdEntradas,#grdSalidas").setGridWidth($('#tabcaja').width() - 3, true);
                $("#lblNetoArq").text($("#lblSaldoFinal").text());
            });
            $('#btnPagoLibre').click(function () {
                $.ajax({
                    url: "@Url.Action("TieneCxcPendiente", "Credito")",
                    data: {
                        pCreditoId: $.data(document.body, "CreditoIdSelect")
                    },
                    success: function (tienepagospen) {
                        if (tienepagospen == false) {
                            Vendix.Dialogo("Desea realizar el pago Libre de " + parseFloat($("#txtPagoLibre").val()).toFixed(2), "SiNo", function () {
                                $.ajax({
                                    url: "@Url.Action("PagarCuotasImporteLibre", "Credito")",
                                    data: {
                                        pCreditoId: $.data(document.body, "CreditoIdSelect"),
                                        pImporteLibre: $("#txtPagoLibre").val()
                                    },
                                    success: function (retorno) {
                                        if (retorno != null) {
                                            Vendix.Notificar();
                                            LimpiarTabPagoCuota();
                                            ImprimirMovCaja(retorno);
                                        } else
                                            Vendix.Mensaje("ERROR: Consulte con sistemas");
                                    }
                                });
                            });
                        } else
                            Vendix.Dialogo("Tiene Cuentas por cobrar pendientes");
                    }
                });
            });
            $('#btnCancelarCreditoShow').click(function () {
                $("#divCancelarCreditoShow").hide();
                $(".CancelarCredito").show();

                if ($("#gbox_grdCancelarCredito").length > 0)
                    $("#grdCancelarCredito").trigger("reloadGrid");
                else {
                    $("#grdCancelarCredito").jqGrid({
                        url: "@Url.Action("ListarCuotasPendientesJGrid", "Credito")",
                        datatype: "json",
                        postData: {
                            filters: function () {
                                return $.toJSON([{ Key: "indCancelacion", Value: true }, { Key: "CreditoId", Value: $.data(document.body, "CreditoIdSelect") }]);
                            }
                        },
                        colNames: ['PlanPagoId', 'GLOSA', 'VENCIMIENTO', 'AMORT.', 'INTERES', 'GA', 'CUOTA', 'ATRAZO', 'MORA', '% MORA', 'PAGO LIBRE', 'PAGO'],
                        colModel:
							[
								{ name: 'PlanPagoId', index: 'PlanPagoId', hidden: true },
								{ name: 'Glosa', index: 'Denominacion', width: 300 },
								{ name: 'FechaVencimiento', index: 'FechaVencimiento', align: 'center' },
								{ name: 'Amortizacion', index: 'Amortizacion', align: 'center' },
								{ name: 'Interes', index: 'Interes', align: 'center' },
								{ name: 'GastosAdm', index: 'GastosAdm', align: 'center' },
								{ name: 'Cuota', index: 'Cuota', align: 'center' },
								{ name: 'DiasAtrazo', index: 'DiasAtrazo', align: 'center' },
								{ name: 'ImporteMora', index: 'ImporteMora', align: 'center' },
								{ name: 'InteresMora', index: 'InteresMora', align: 'center' },
								{ name: 'PagoLibre', index: 'PagoLibre', align: 'center' },
								{ name: 'PagoCuota', index: 'PagoCuota', align: 'center' }
							],
                        caption: "Cuotas Pendientes por cancelación de Crédito",
                        pager: jQuery('#grdpCancelarCredito'),
                        rowNum: 5,
                        rowList: [5, 10, 15],
                        sortorder: "asc",
                        gridview: true,
                        viewrecords: true,
                        rownumbers: true,
                        autowidth: true,
                        width: 'auto',
                        height: '117px',
                        footerrow: true,
                        loadComplete: function () {
                            var $self = $(this);
                            $.ajax({
                                url: "@Url.Action("ObtenerTotalesCuotasPendientes","Credito")",
                                success: function (ret) {
                                    var totales = ret.split(",");
                                    $self.jqGrid("footerData", "set", {
                                        Glosa: "Cuotas Pendientes: " + totales[0],
                                        FechaVencimiento: "Cancelación:",
                                        Cuota: parseFloat(totales[1]).toFixed(2),
                                        ImporteMora: parseFloat(totales[2]).toFixed(2),
                                        InteresMora: parseFloat(totales[3]).toFixed(2),
                                        PagoCuota: parseFloat(totales[4]).toFixed(2)
                                    });
                                }
                            });
                        }
                    });
                }
            });
            $('#btnCancelarCredito').click(function () {
                $.ajax({
                    url: "@Url.Action("TieneCxcPendiente", "Credito")",
                    data: {
                        pCreditoId: $.data(document.body, "CreditoIdSelect")
                    },
                    success: function (tienepagospen) {
                        if (tienepagospen == false) {
                            Vendix.Dialogo("Desea realizar la Cancelacion del Crédito ", "SiNo", function () {
                                $.ajax({
                                    url: "@Url.Action("PagarCuotasCancelacion", "Credito")",
                                    data: {
                                        pCreditoId: $.data(document.body, "CreditoIdSelect")
                                    },
                                    success: function (retorno) {
                                        if (retorno != null) {
                                            Vendix.Notificar();
                                            LimpiarTabPagoCuota();
                                            ImprimirMovCaja(retorno);
                                        } else {
                                            Vendix.Mensaje("ERROR: Consulte con sistemas");
                                        }
                                    }
                                });
                            });
                        } else
                            Vendix.Dialogo("Tiene Cuentas por cobrar pendientes");
                    }
                });
            });

            $("#grdEntradas").jqGrid({
                url: "@Url.Action("ListarMovimientosCajaJGrid", "Credito")",
                datatype: "json",
                postData: {
                    filters: function () {
                        return $.toJSON([{ Key: "Tipo", Value: "E" }]);
                    }
                },
                colNames: ['Nro.', 'Imprimir', 'CajaDiarioId', 'Fecha Registro', 'Operación', 'Persona', 'Tipo Operación', 'Descripcion', 'Importe', 'Estado', 'Anular'],
                colModel:
					[
						{ name: 'MovimientoCajaId', index: 'MovimientoCajaId', align: 'center', width: 40 },
						{ name: 'Imprimir', index: 'Imprimir', align: 'center', width: 40, formatter: MovCajaPrintFormatter },
						{ name: 'CajaDiarioId', index: 'CajaDiarioId', hidden: true },
						{ name: 'FechaReg', index: 'FechaReg', align: 'center', width: 125 },
						{ name: 'Operacion', index: 'Operacion', align: 'center', width: 70 },
						{ name: 'Persona', index: 'Persona', width: 220 },
						{ name: 'TipoOperacion', index: 'TipoOperacion', align: 'center', width: 100 },
						{ name: 'Descripcion', index: 'Descripcion', width: 260 },
						{ name: 'ImportePago', index: 'ImportePago', align: 'right', width: 60 },
						{ name: 'Estado', index: 'Estado', align: 'center', width: 80 },
						{ name: 'Anular', index: 'Anular', align: 'center', width: 40, formatter: anularEntradaFormatter }
					],
                caption: "ENTRADAS",
                pager: $('#grdpEntradas'),
                rowNum: 5,
                rowList: [5, 10, 20],
                sortname: 'MovimientoCajaId',
                sortorder: "desc",
                viewrecords: true,
                rownumbers: true,
                autowidth: true,
                width: '100%',
                height: '117px',
                ondblClickRow: function () {
                    var id = jQuery("#grdEntradas").jqGrid('getGridParam', 'selrow');
                    if (id) {
                        var ret = $("#grdEntradas").jqGrid('getRowData', id);
                        $.ajax({
                            url: "@Url.Action("MostrarDetalleMovCaja","Saldos")",
                            data: { pMovimientoCajaId: ret.MovimientoCajaId },
                            success: function (rpt) {
                                if (rpt.length > 0)
                                    Vendix.Dialogo(rpt);
                            }
                        });
                    }
                }
            }).jqGrid('bindKeys', { "onEnter": function (rowid) { /*mostrardetalle();*/ } });

            jQuery("#grdSalidas").jqGrid({
                url: "@Url.Action("ListarMovimientosCajaJGrid", "Credito")",
                datatype: "json",
                postData: {
                    filters: function () {
                        return $.toJSON([{ Key: "Tipo", Value: "S" }]);
                    }
                },
                colNames: ['Nro.', 'Imprimir', 'CajaDiarioId', 'Fecha Registro', 'Operación', 'Persona', 'Tipo Operación', 'Descripcion', 'Importe', 'Estado', 'Anular'],
                colModel:
					[
						{ name: 'MovimientoCajaId', index: 'MovimientoCajaId', align: 'center', width: 40 },
						{ name: 'Imprimir', index: 'Imprimir', align: 'center', width: 40, formatter: MovCajaPrintFormatter },
						{ name: 'CajaDiarioId', index: 'CajaDiarioId', hidden: true },
						{ name: 'FechaReg', index: 'FechaReg', align: 'center', width: 125 },
						{ name: 'Operacion', index: 'Operacion', align: 'center', width: 70 },
						{ name: 'Persona', index: 'Persona', width: 220 },
						{ name: 'TipoOperacion', index: 'TipoOperacion', align: 'center', width: 100 },
						{ name: 'Descripcion', index: 'Descripcion', width: 260 },
						{ name: 'ImportePago', index: 'ImportePago', align: 'right', width: 60 },
						{ name: 'Estado', index: 'Estado', align: 'center', width: 80 },
						{ name: 'Anular', index: 'Anular', align: 'center', width: 40, formatter: anularSalidaFormatter }
					],
                caption: "SALIDAS",
                pager: jQuery('#grdpSalidas'),
                rowNum: 5,
                rowList: [5, 10, 15],
                sortname: 'MovimientoCajaId',
                sortorder: "desc",
                viewrecords: true,
                rownumbers: true,
                autowidth: true,
                width: '100%',
                height: '117px'
            }).jqGrid('bindKeys', { "onEnter": function (rowid) { /*mostrardetalle();*/ } });



            $("#btnPagoCxC").click(function () {
                Vendix.Dialogo("Desea realizar la Cobranza", "SiNo", function () {
                    var id = jQuery("#grdcxc").jqGrid('getGridParam', 'selrow');
                    if (id) {
                        var ret = $("#grdcxc").jqGrid('getRowData', id);

                        $.ajax({
                            url: "@Url.Action("RealizarPagarCuentaxCobrar", "Credito")",
                            data: {
                                pOrdenVentaId: ret.OrdenVentaId, pCuentaxCobrarId: ret.CuentaxCobrarId
                            },
                            success: function (retorno) {
                                if (retorno != null) {
                                    Vendix.Notificar();
                                    LimpiarTabPagoCuota();
                                    ImprimirMovCaja(retorno);
                                } else {
                                    Vendix.Mensaje("ERROR: Consulte con sistemas");
                                }
                            }
                        });
                    }
                });
            });

            $("#btnPagarSalida").click(function () {

                if ($.data(document.body, 'PersonaESid') == 0) {
                    Vendix.Dialogo("Seleccione una persona", "Aceptar");
                    return;
                }
                if ($("#txtDescripcionSalida").val().length == 0) {
                    Vendix.Dialogo("Ingrese una descripción", "Aceptar");
                    return;
                }
                var importe = parseFloat($("#txtImporteSalida").val());
                if (isNaN(importe) || importe <= 0) {
                    Vendix.Dialogo("Ingrese un importe mayor a cero", "Aceptar");
                    return;
                }

                Vendix.Dialogo("CONFIRMAR para realizar esta operación.", "SiNo", function () {
                    $.ajax({
                        url: "@Url.Action("RealizarEntradaSalidaCajaDiario", "Credito")",
                        data: {
                            pPersonaId: $.data(document.body, 'PersonaESid'),
                            pTipoOperacionId: $("#cboTipoOperacion").val(),
                            pDescripcion: $("#txtDescripcionSalida").val(),
                            pImporte: $("#txtImporteSalida").val()
                        },
                        success: function (retorno) {
                            if (retorno.length == 0) {
                                Vendix.Notificar();
                                $.data(document.body, 'PersonaESid', 0);
                                $("#txtPersonaES,#txtImporteSalida,#txtDescripcionSalida").prop('value', '');
                                MostrarSaldoCajaDiario();
                            } else {
                                Vendix.Dialogo(retorno);
                            }
                        }
                    });
                });
            });

            $("#btnDesembolso").click(function () {
                Vendix.Dialogo("CONFIRMAR para realizar DESEMBOLSO.", "SiNo", function () {
                    $.ajax({
                        url: "@Url.Action("RealizarDesembolso", "Credito")",
                        data: {
                            pCreditoId: $.data(document.body, 'CreditoDesembolsoId')
                        },
                        success: function (movcajaid) {
                            if (movcajaid.length <= 8) {
                                Vendix.Notificar();
                                $("#txtClienteds").prop('value', '');
                                ImprimirMovCaja(movcajaid);
                                MostrarSaldoCajaDiario();
                                $(".msjClienteEncontradods").hide();
                                $("#divdesembolso").hide();
                            }
                        }
                    });
                });
            });

            $("#txtCliente").autocomplete({
                source: "@Url.Action("BuscarCliente", "Cliente")",
                minLength: 2,
                select: function (event, ui) {
                    // alert(ui.item.id);
                    event.preventDefault();
                    $.data(document.body, 'PersonaId', ui.item.id);
                    $(".msjClienteEncontrado").show('slow');

                    CargarGrillaCxc();

                    $.ajax({
                        url: '@Url.Action("ListarCreditosPendientesCombo","Credito")' + '?pPersonaId=' + ui.item.id,
                        data: {},
                        success: function (result) {
                            if (result != null) {
                                var html = '';
                                $.each(result, function () {
                                    html += '<div class="full-stats" onclick="AgregarBorde(this);"><a href="javascript:CargarGrillaCuotas(' + this.Id + ');" class="stat simple tooltip" data-gravity="s" original-title="' + this.Valor + '"><div class="value">Crédito ' + this.Id + '</div></a></div>';
                                });
                                $("#divbtncreditos").html(html);

                                $("#lblCliente").text($("#txtCliente").val());
                                $("#txtCliente").val("");

                                if (html == '') {
                                    $(".msjCreditoEncontrado").hide();
                                    return;
                                }

                                if (result.length > 0) {
                                    CargarGrillaCuotas(result[0].Id);
                                    $(".full-stats:eq(0)").addClass("BordeSeleccion");
                                }
                                $(".msjCreditoEncontrado,#divCancelarCreditoShow").show('slow');
                                $(".CancelarCredito").hide();

                                $('.tooltip').each(function () {
                                    var $tooltip = $(this),
										grav = $tooltip.data('gravity') || $.fn.tipsy.autoNS,
										anim = $tooltip.data('anim') || true;
                                    $tooltip.tipsy({
                                        gravity: grav,
                                        fade: anim
                                    });
                                });
                            }
                        }
                    });
                }
            });
            $("#txtPersonaES").autocomplete({
                source: "@Url.Action("BuscarPersona", "Cliente")",
                minLength: 2,
                select: function (event, ui) {
                    event.preventDefault();
                    $.data(document.body, 'PersonaESid', ui.item.id);
                    $("#txtDescripcionSalida").focus();
                }
            });
            $("#txtClienteds").autocomplete({
                source: "@Url.Action("BuscarPersona", "Cliente")",
                minLength: 2,
                select: function (event, ui) {
                    event.preventDefault();
                    $.data(document.body, 'PersonaDesembolsoId', ui.item.id);
                    $(".msjClienteEncontradods").show('slow');
                    $("#actDesembolso").hide();
                    $("#lblClienteds").text(ui.item.value);
                    $("#txtClienteds").val("");                    
                    CargarGrillaDesembolso();
                }
        });

            $("#txtImporteRecibido")
				.numeric(2)
				.keyup(function (event) {
				    if (event.which == 13) {
				        event.preventDefault();
				    }

				    var recibido = parseFloat($(this).val());
				    var vuelto = 0;
				    if (!isNaN(recibido)) {
				        vuelto = recibido - parseFloat($("#lblMontoPago").text());
				        if (vuelto < 0) {
				            vuelto = 0;
				        }
				    }
				    $("#lblvuelto").text(parseFloat(vuelto).toFixed(2));
				})
				.keypress(function (event) {
				    if (event.which == 13) {
				        $("#btnPagar").trigger("click");
				    }
				});


            $("#btnPagar").click(function () {

                var s = $("#grdBuscar").jqGrid('getGridParam', 'selarrrow');
                if (s.length == 0) {
                    Vendix.Mensaje('Error: Se requiere seleccionar cuotas');
                    return;
                }

                var recibido = $('#txtImporteRecibido');
                if (recibido.val().length == 0) {
                    Vendix.Mensaje('Error: Ingrese monto recibido');
                    recibido.focus();
                    return;
                }
                if (parseFloat(recibido.val()) < parseFloat($('#lblMontoPago').text())) {
                    Vendix.Mensaje('Error: El importe recibido debe ser mayor o igual al total de pago');
                    recibido.val('');
                    return;
                }

                $.ajax({
                    url: "@Url.Action("TieneCxcPendiente", "Credito")",
                    data: {
                        pCreditoId: $.data(document.body, "CreditoIdSelect")
                    },
                    success: function (tienepagospen) {
                        if (tienepagospen == false) {
                            Vendix.Dialogo("Desea Cobrar las cuotas seleccionadas?", "SiNo", function () {
                                $.ajax({
                                    url: "@Url.Action("PagarCuotas", "Credito")",
                                    data: {
                                        pCreditoId: $.data(document.body, "CreditoIdSelect"),
                                        pPlanPago: $.data(document.body, 'PlanPagoId'),
                                        pImporteRecibido: $('#txtImporteRecibido').val()
                                    },
                                    success: function (ret) {
                                        if (ret != null) {
                                            Vendix.Notificar();
                                            LimpiarTabPagoCuota();
                                            ImprimirMovCaja(ret);
                                        } else {
                                            Vendix.Mensaje("ERROR: Consulte con sistemas");
                                        }
                                    }
                                });
                            });
                        } else
                            Vendix.Dialogo("Tiene Cuentas por cobrar pendientes");
                    }
                });
            });

            $("#btnCerrar").click(function () {
                Vendix.Dialogo("DESEA CERRAR ESTA CAJA?", "SiNo", function () {
                    $.ajax({
                        url: "@Url.Action("CerrarCajaDiario", "Credito")",
                        data: {},
                        success: function (CajaDiarioId) {
                            $("#btnPrevSaldoCaja").trigger("click");
                            window.location = '@Url.Action("CajaDiario", "Credito")';
                        }
                    });
                });
            });


            $('#btnTransFerirBoveda').click(function () {
                var $el = $("#dlgTransferirBoveda");
                $el.find('form')[0].reset();

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("MostrarMontoCaja","CajaDiario")",
                    data: {},
                    success: function (data) {
                        $("#lblMontoCaja").text(data);
                    }
                });

                $("#lblMensaje").text("");
                $('#dlgTransferirBoveda').dialog('open');
                return false;
            });



            $("#dlgTransferirBoveda").dialog({
                autoOpen: false,
                modal: true,
                width: 400,
                open: function () { $(this).parent().css('overflow', 'visible'); $$.utils.forms.resize(); }
            }).find('#btnEnviar').click(function () {
                var $el = $(this).parents('.ui-dialog-content');
                if ($el.validate().form()) {

                    if (parseFloat($("#lblMontoCaja").text()) >= parseFloat($("#txtMontoTransferencia").val())) {
                        $.ajax({
                            type: 'POST',
                            url: "@Url.Action("TransferirBoveda", "CajaDiario")",
                            data: {
                                pMonto: $('#txtMontoTransferencia').val(),
                                pDescripcion: $("#txtDescripcion").val()
                            },
                            success: function (data) {
                                Vendix.Notificar("Grabar");
                                $("#grdSalidas").trigger("reloadGrid");
                                MostrarSaldoCajaDiario();
                                $el.find('form')[0].reset();
                                $el.dialog('close');
                            }
                        });
                    } else {
                        $("#txtImporte").focus();
                        $("#lblMensaje").text("El Monto a transferir debe ser menor al monto total en Caja");
                    }
                }
            }).end().find('button.cancel').click(function () {
                var $el = $(this).parents('.ui-dialog-content');
                $el.find('form')[0].reset();
                $el.dialog('close');
            });



        });
        function LimpiarTabPagoCuota() {
            $.data(document.body, 'PersonaId', 0);
            $("#divCxC,#actCxC,.msjClienteEncontrado,.msjCreditoEncontrado").hide();
            $("#lblMontoPago").text("0.00");
            $("#lblvuelto").text("0.00");
            $('#txtImporteRecibido,#txtPagoLibre').prop("value", "");
            MostrarSaldoCajaDiario();

        }
        function MostrarSaldoCajaDiario() {
            $.ajax({
                url: "@Url.Action("ObtenerCajaDiario", "Credito")",
                data: {},
                success: function (ret) {
                    $("#lblEntradas").text(parseFloat(ret.Entradas).toFixed(2));
                    $("#lblSalidas").text(parseFloat(ret.Salidas).toFixed(2));
                    $("#lblSaldoFinal").text(parseFloat(ret.SaldoFinal).toFixed(2));
                }
            });
        }

        function CargarGrillaCuotas(pCreditoId) {
            $.data(document.body, 'CreditoIdSelect', pCreditoId);
            $('#lblCreditoActual').text(pCreditoId);

            if ($("#gbox_grdBuscar").length > 0)
                $("#grdBuscar").trigger("reloadGrid");
            else {
                $("#grdBuscar").jqGrid({
                    url: "@Url.Action("ListarCuotasPendientesJGrid", "Credito")",
                    datatype: "json",
                    postData: {
                        filters: function () {
                            return $.toJSON([{ Key: "indCancelacion", Value: false }, { Key: "CreditoId", Value: $.data(document.body, 'CreditoIdSelect') }]);
                        }
                    },
                    colNames: ['PlanPagoId', 'GLOSA', 'VENCIMIENTO', 'AMORT.', 'INTERES', 'GA', 'CUOTA', 'ATRAZO', 'MORA', '% MORA', 'PAGO LIBRE', 'PAGO'],
                    colModel:
						[
							{ name: 'PlanPagoId', index: 'PlanPagoId', hidden: true },
							{ name: 'Glosa', index: 'Denominacion', width: 300 },
							{ name: 'FechaVencimiento', index: 'FechaVencimiento', align: 'center' },
							{ name: 'Amortizacion', index: 'Amortizacion', align: 'center' },
							{ name: 'Interes', index: 'Interes', align: 'center' },
							{ name: 'GastosAdm', index: 'GastosAdm', align: 'center' },
							{ name: 'Cuota', index: 'Cuota', align: 'center' },
							{ name: 'DiasAtrazo', index: 'DiasAtrazo', align: 'center' },
							{ name: 'ImporteMora', index: 'ImporteMora', align: 'center' },
							{ name: 'InteresMora', index: 'InteresMora', align: 'center' },
							{ name: 'PagoLibre', index: 'PagoLibre', align: 'center' },
							{ name: 'PagoCuota', index: 'PagoCuota', align: 'center' }
						],
                    caption: "Cuotas Pendientes",
                    pager: jQuery('#grdpBuscar'),
                    rowNum: 5,
                    rowList: [5, 15, 100],
                    sortorder: "asc",
                    gridview: true,
                    viewrecords: true,
                    rownumbers: true,
                    autowidth: true,
                    //paging: true,
                    width: 'auto',
                    height: '117px',
                    //recordpos: 'right',
                    multiselect: true,
                    onSelectRow: function (id) { CalcularMontoCuota(); },
                    onSelectAll: function (aRowids, isSelected) { CalcularMontoCuota(); },
                    footerrow: true,
                    loadComplete: function () {
                        var $self = $(this);
                        $.ajax({
                            url: "@Url.Action("ObtenerTotalesCuotasPendientes","Credito")",
                            success: function (ret) {
                                var totales = ret.split(",");
                                $self.jqGrid("footerData", "set", {
                                    Glosa: "Cuotas Pendientes: " + totales[0],
                                    FechaVencimiento: "Pendiente:",
                                    Cuota: parseFloat(totales[1]).toFixed(2),
                                    ImporteMora: parseFloat(totales[2]).toFixed(2),
                                    InteresMora: parseFloat(totales[3]).toFixed(2),
                                    PagoCuota: parseFloat(totales[4]).toFixed(2)
                                });
                            }
                        });
                    }
                }).jqGrid('bindKeys', {
                    "onEnter": function (rowid) { /*mostrardetalle();*/
                    }
                });
            }
        }
        function CalcularMontoCuota() {
            var suma = 0;
            var arr = jQuery("#grdBuscar").jqGrid('getGridParam', 'selarrrow');
            if (arr.length == 0) {
                $.data(document.body, 'PlanPagoId', '');
                $("#lblMontoPago").text("0.00");
                return;
            }
            $.each(arr, function (key, value) {
                var ret = $("#grdBuscar").jqGrid('getRowData', value);
                suma += parseFloat(ret.PagoCuota);
            });
            $.data(document.body, 'PlanPagoId', arr.join(","));
            $("#lblMontoPago").text(parseFloat(suma).toFixed(2));
            $("#txtImporteRecibido").trigger("keyup").select().focus();
        }

        function CargarGrillaCxc() {
            $.ajax({
                url: "@Url.Action("ExisteCxCPendientes", "Credito")",
                async: false,
                data: { pPersonaId: $.data(document.body, 'PersonaId') },
                success: function (nro) {
                    if (nro > 0) {
                        $("#divCxC").show('slow');
                    }
                    else {
                        $("#divCxC").hide();
                        return;
                    }
                }
            });

            if ($("#gbox_grdcxc").length > 0)
                $("#grdcxc").trigger("reloadGrid");
            else {
                $("#grdcxc").jqGrid({
                    url: "@Url.Action("ListarCuentasxCobrarJGrid", "Credito")",
                    datatype: "json",
                    postData: {
                        filters: function () {
                            return $.toJSON([{ Key: "PersonaId", Value: $.data(document.body, 'PersonaId') }]);
                        }
                    },
                    colNames: ['Orden', 'CuentaxCobrarId', 'Oficina', 'Operacion', 'Origen', 'Monto', 'Estado', 'Fecha'],
                    colModel:
						[
							{ name: 'OrdenVentaId', index: 'OrdenVentaId', sortable: false, align: 'center', width: '50' },
							{ name: 'CuentaxCobrarId', index: 'CuentaxCobrarId', hidden: true },
							{ name: 'Oficina', index: 'Oficina', sortable: false },
							{ name: 'Operacion', index: 'Operacion', sortable: false },
							{ name: 'Origen', index: 'Origen', sortable: false },
							{ name: 'Monto', index: 'Monto', align: 'center', sortable: false },
							{ name: 'Estado', index: 'Estado', align: 'center', sortable: false },
							{ name: 'FechaReg', index: 'FechaReg', align: 'center', sortable: false }
						],
                    caption: "Cuentas por Cobrar Pendientes",
                    pager: $('#grdpcxc'),
                    rowNum: 5,
                    rowList: [5, 10, 15],
                    sortname: 'OrdenVentaId',
                    sortorder: "desc",
                    gridview: true,
                    viewrecords: true,
                    rownumbers: true,
                    autowidth: true,
                    width: 'auto',
                    height: '117px',
                    onSelectRow: function (id) {
                        $("#actCxC").show('slow');
                    },
                }).jqGrid('bindKeys', {
                    "onEnter": function (rowid) { /*mostrardetalle();*/
                    }
                });
            }
        }
        function CargarGrillaDesembolso() {
            $.ajax({
                url: "@Url.Action("ExisteDesembolso", "Credito")",
                data: { pPersonaId: $.data(document.body, 'PersonaDesembolsoId') },
                success: function (ret) {
                    if (ret > 0)
                        $("#divdesembolso").show();
                    else {
                        $("#divdesembolso").hide();
                        return;
                    }                        
                }
            });

            if ($("#gbox_grdDesembolso").length > 0)
                $("#grdDesembolso").trigger("reloadGrid");
            else {
                $("#grdDesembolso").jqGrid({
                    url: "@Url.Action("ListarDesembolsoJGrid", "Credito")",
                    datatype: "json",
                    postData: {
                        filters: function () {
                            return $.toJSON([{ Key: "PersonaId", Value: $.data(document.body, 'PersonaDesembolsoId') }]);
                        }
                    },
                    colNames: ['Nro Credito', 'Credito', 'Gasto Adm', 'DESEMBOLSO', 'Estado'],
                    colModel:
                    [
                        { name: 'CreditoId', index: 'CreditoId', sortable: false, align: 'center', width: '50' },
                        { name: 'MontoCredito', index: 'MontoCredito', align: 'center', sortable: false },
                        { name: 'MontoGastosAdm', index: 'MontoGastosAdm', align: 'center',sortable: false },
                        { name: 'MontoDesembolso', index: 'MontoDesembolso', align: 'center', sortable: false },
                        { name: 'Estado', index: 'Estado', align: 'center', sortable: false }
                    ],
                    caption: "Desembolsos Pendientes",
                    pager: $('#grdpDesembolso'),
                    rowNum: 5,
                    rowList: [5, 10, 15],
                    sortname: 'CreditoId',
                    sortorder: "desc",
                    gridview: true,
                    viewrecords: true,
                    rownumbers: true,
                    autowidth: true,
                    width: 'auto',
                    height: '117px',
                    onSelectRow: function (id) {
                        $("#actDesembolso").show('slow');
                        if (id) {
                            var ret = $("#grdDesembolso").jqGrid('getRowData', id);
                            $("#btnDesembolso").text("Credito Nro:" + ret.CreditoId + " Desembolso:" + ret.MontoDesembolso);
                            $.data(document.body, 'CreditoDesembolsoId', ret.CreditoId);
                        }

                    },
                }).jqGrid('bindKeys', {
                    "onEnter": function (rowid) { /*mostrardetalle();*/
                    }
                });
            }
        }

        function AgregarBorde(control) {
            $(".full-stats").removeClass("BordeSeleccion");
            $(control).addClass("BordeSeleccion");
        }
        function MovCajaPrintFormatter(cellvalue, options, rowObject) {
            if (cellvalue.length > 0)
                return "<a href='#' onclick='ImprimirMovCaja(" + cellvalue + ");return false;' class='button small blue tooltip' data-gravity='s' title='Imprimir'><i class='icon-picture'></i></a>";
            return "";
        }
        function anularEntradaFormatter(cellvalue, options, rowObject) {
            if (cellvalue.length > 0)
                return "<a href='#' onclick='AnularMovCaja(" + cellvalue + ",1);return false;' class='button small red tooltip' data-gravity='s' title='Eliminar'><i class='icon-remove'></i></a>";
            return "";
        }
        function anularSalidaFormatter(cellvalue, options, rowObject) {
            if (cellvalue.length > 0)
                return "<a href='#' onclick='AnularMovCaja(" + cellvalue + ",0);return false;' class='button small red tooltip' data-gravity='s' title='Eliminar'><i class='icon-remove'></i></a>";
            return "";
        }
        function ImprimirMovCaja(pMovimientoCajaId) {
            var ruta = '@Url.Action("ReporteMovimientoCaja", "Reporte")' + '?pMovimientoCajaId=' + pMovimientoCajaId;
            //window.open(ruta);
            Vendix.Reporte(ruta);
            //alert(pMovimientoCajaId);
        }

        function AnularMovCaja(pMovimientoCajaId, ind) {
            $.ajax({
                url: "@Url.Action("ValidarAnularMovimientoCaja", "Credito")",
                data: { pMovimientoCajaId: pMovimientoCajaId },
                success: function (ret) {
                    if (ret == false) {
                        Vendix.DialogoObs("Ingrese la Observación para anular.", function () {
                            $.ajax({
                                url: "@Url.Action("AnularMovimientoCaja", "Credito")",
                                data: { pMovimientoCajaId: pMovimientoCajaId, pObservacion: $.data(document.body, 'txtObsBase') },
                                success: function (rpt) {
                                    if (rpt) {
                                        Vendix.Notificar('Anular');
                                        if (ind == 1)
                                            $("#grdEntradas").jqGrid('setGridParam', { page: 1 }).trigger("reloadGrid");
                                        else
                                            $("#grdSalidas").jqGrid('setGridParam', { page: 1 }).trigger("reloadGrid");
                                        MostrarSaldoCajaDiario();
                                    }
                                }
                            });
                        });
                    } else
                        Vendix.Dialogo("Tiene Pagos de cuotas, No se Puede Anular el Crédito", "Aceptar");
                }
            });
        }

    </script>
}
else
{
    <ul class="stats not-on-phone">

        <li>
            <strong>CAJA NO ASIGNADA</strong>
            <span>ESTADO</span>
        </li>
    </ul>
}



