@model VendixWeb.Controllers.DatosCredito

<div class="grid_12 profile">
    <div class="header">
        <div class="title">
            @if (Model != null)
            {
                <h2>
                    @Model.Persona.NumeroDocumento  -   @Model.Persona.NombreCompleto
                </h2>
                <h3>@Model.EstadoCliente</h3>

            }
        </div>
        <div class="avatar">
            <img src="~/img/elements/profile/avatar.png" />
            <a class="abrir-buscarCliente block">Buscar Cliente</a>
        </div>

        <ul class="info">
            <li>
                <a href="javascript:void(0);">

                    <strong>
                        @if (Model != null)
                        {
                            @Model.TotalCreditos
                        }
                        else
                        {
                            <text>0</text>
                        }
                    </strong>
                    <small>Total Créditos</small>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <strong>
                        @if (Model != null && Model.Creditos != null)
                        {
                            @Model.Creditos.Count
                        }
                        else
                        {
                            <text>0</text>
                        }
                    </strong>
                    <small>Créditos Pendientes</small>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <strong>0</strong>
                    <small>Calificación</small>
                </a>
            </li>
            <li>
                @if (Model != null && Model.Creditos != null)
                {
                    <button id="btnCrearSolicitud">Crear Solicitud de Crédito</button>
                }
            </li>
        </ul>
    </div>

    <br />
    @if (Model != null && Model.SolicitudCredito != null)
    {
        <div id="divSolicitud" class="grid_12">
            <form method="post" action="#" class="box validate">

                <div class="header">
                    <h2>Solicitud de crédito Pendiente : @Model.SolicitudCredito.Descripcion</h2>
                </div>

                <div class="content">
                    <p class="_25 small" style="padding-bottom: 10px;">
                        <label>Nro Solicitud: @Model.SolicitudCredito.CreditoId</label>
                        <label>Fecha: @Model.SolicitudCredito.FechaReg</label>
                       <label>Estado: @(Model.SolicitudCredito.Estado == "P" ? "PENDIENTE" : "APROBADO")</label>
                      
                       <br /><br />
                        <label id="lblInteresRango">Interes Min: @Model.Producto.InteresMinima% Max: @Model.Producto.InteresMaxima%</label>
                        <label id="lblImpMoratorio">Importe Moratorio: @Model.Producto.ImporteMoratorio</label>
                        <label id="lblDiasGracia">Dias de Gracia: @Model.Producto.DiasGracia</label>
                    </p>
                    
                    <p class="_25 small">
                        <label>Producto:</label>
                        @Html.DropDownList("cboProducto", (IEnumerable<SelectListItem>)ViewBag.cboProducto)
                    </p>
                    <p class="_25 small">
                        <label>Tipo de Crédito:</label>
                        <select id="cboTipoCuota">
                            <option value="V">VARIABLE</option>
                            <option value="F">FIJO</option>
                        </select>
                    </p>
                    <p class="_25 small">
                        <label>Tipo:</label>
                        <select id="cboFormaPago">
                            <option value="M">MENSUAL</option>
                            <option value="Q">QUINCENAL</option>
                            <option value="S">SEMANAL</option>
                            <option value="D">DIARIO</option>
                        </select>
                    </p>

                    @*<p class="_25 small">
                            <label for="txtInicial" class="inline">Inicial del crédito:</label>
                            <input data-error-type="inline" type="text" class="required" readonly name="txtInicial" id="txtInicial" value="@Model.SolicitudCredito.MontoInicial" />
                        </p>*@
                    <p class="_25 small">
                        <label for="txtMontoCredito" class="inline">Monto Crédito:</label>
                        <input data-error-type="inline" type="text" class="required" id="txtMontoCredito" value="@Model.SolicitudCredito.MontoCredito" autofocus />
                    </p>
                    <p class="_25 small">
                        <label for="txtNroCuotas" class="inline">Número Cuotas:</label>
                        <input data-error-type="inline" type="text" class="required" id="txtNroCuotas" value="@Model.SolicitudCredito.NumeroCuotas" pattern="^\d{1,10}$" title="Solo números enteros" />
                    </p>
                    
                    <p class="_25 small">
                        <label for="txtGa" class="inline">Gastos Adm:</label>
                        <input data-error-type="inline" type="text" class="required" name="txtGa" id="txtGa" value="@Model.SolicitudCredito.MontoGastosAdm" />
                    </p>
                    <p class="_25 small">
                        <label for="txtInteres" class="inline">Interes %:</label>
                        <input data-error-type="inline" type="text" class="required" id="txtInteres" value="@Model.SolicitudCredito.Producto.InteresMaxima" />
                    </p>
                    <p class="_25 small">
                        <label for="txtFechappSol" class="inline">Primer Pago:</label>
                        <input data-error-type="inline" type="date" class="required maskDate" id="txtFechappSol" value="@DateTime.Now.AddDays(1).ToShortDateString()"/>
                    </p>
                    
                    <p class="_25 small">
                        @*<label>Modalidad:</label>*@
                        <select id="cboGA">
                            <option value="CUO">Gastos Adm. en Cuotas</option>
                            <option value="ADE">Gastos Adm. Pago Adelantado</option>
                        </select>
                    </p>
                    
                    <p class="_50 small" style="padding-bottom: 10px;">
                        <label for="txtObsSol" class="inline">Observación:</label>
                        <input type="text" id="txtObsSol" style="height: 45px;" value="@Model.SolicitudCredito.Observacion" />
                    </p>
                    <p class="_25 small">
                        <label>Analista:</label>
                        @Html.DropDownList("cboAnalista", (IEnumerable<SelectListItem>)ViewBag.cboAnalista)
                    </p>
                </div>
                <!-- End of .content -->

                <div class="actions">
                    <div class="left">
                        <button id="btnSimulador" class="icon icon-link">Simular Plan de pagos</button>
                    </div>
                    <div class="right">
                        <button id="btnRechazarCredito" onclick="RechazarCredito(@Model.SolicitudCredito.CreditoId);return false;" class="button red block"><span class="icon icon-remove"></span>Rechazar Solicitud</button>
                        <button id="btnGenerarCredito" class="block"><span class="icon icon-plus"></span>Generar Crédito</button>
                    </div>
                </div>
                <!-- End of .actions -->
            </form>
            <!-- End of .box -->
        </div>

        <script>
            $(function () {
                $("#txtInteres,#txtGa").numeric(2);
                $("#txtNroCuotas").numeric();
                $("#txtMontoCredito").numeric(2)
                    .keyup(function (event) {
                        if (event.which == 13) {
                            event.preventDefault();
                        }
                        //var montoCredito = parseFloat($("#txtMontoCredito").val()) - parseFloat($("#txtInicial").val());
                        //if (!isNaN(montoCredito)) {
                        //    if (montoCredito < 0)
                        //        $("#txtMontoCredito").val("0.00");
                        //    else
                        //        $("#txtMontoCredito").val(parseFloat(montoCredito).toFixed(2));
                        //} else
                        //    $("#txtMontoCredito").val("0.00");
                        CalcularGastosAdm();
                    });
            });

            function CalcularGastosAdm() {
                $.ajax({
                    url: "@Url.Action("CalcularGastosAdm", "Credito")",
                    data: { pProductoId: $("#cboProducto").val(), pMonto: $("#txtMontoCredito").val() },
                    success: function (ret) {
                        $("#txtGa").val(ret.toFixed(2));
                    }
                });
            }
        </script>
    }
    @if (Model != null && Model.TotalCreditos > 0)
    {
        <div class="credito grid_6 center-elements">
            @foreach (var item in Model.Creditos)
            {
                <div class="full-stats equalHeight" style="cursor: pointer" onclick="mostrarCredito(@item.CreditoId);">
                    <h2 class="center">CREDITO Nro: @item.CreditoId @item.Estado</h2>
                    <div class="stat level" style="cursor: pointer" data-value="@item.PlanPago.Where(x => x.Estado == "PAG").Sum(x => x.Amortizacion)" data-max="@item.MontoCredito" data-format="S/ 0.00" data-description="Pagos"></div>
                </div>
            }
        </div>
        <div class="grid_6">
            <table id="grdHistorial"></table>
            <div id="grdpHistorial"></div>
        </div>

        <div class="credito grid_12">
            <form method="post" action="#" class="box validate">
                <div class="header">
                    <h2>
                        CREDITO Nro:
                        <label id="lblcCreditoId" />
                    </h2>
                </div>
                <div class="content">
                    <p class="_100 small">
                        <label id="lblcDescripcion" />
                    </p>
                    <p class="_50 small">
                        <label for="txtcTipoProducto" class="inline">Producto:</label>
                        <input type="text" readonly id="txtcTipoProducto" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcProducto" class="inline">Monto Producto:</label>
                        <input type="text" readonly id="txtcProducto" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcInicial" class="inline">Monto Inicial:</label>
                        <input type="text" readonly id="txtcInicial" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcCredito" class="inline">Monto Crédito:</label>
                        <input type="text" readonly id="txtcCredito" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcGA" class="inline">Gastos Administrativos:</label>
                        <input type="text" readonly id="txtcGA" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcFormaPago" class="inline">Forma de Pago:</label>
                        <input type="text" readonly id="txtcFormaPago" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcCuotas" class="inline">Numero Cuotas:</label>
                        <input type="text" readonly id="txtcCuotas" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcInteres" class="inline">Interes %:</label>
                        <input type="text" readonly id="txtcInteres" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcFechaAprobacion" class="inline">Aprobación:</label>
                        <input type="text" readonly id="txtcFechaAprobacion" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcFechaDesembolso" class="inline">Desembolso:</label>
                        <input type="text" readonly id="txtcFechaDesembolso" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcFechaVcto" class="inline">Vencimiento:</label>
                        <input type="text" readonly id="txtcFechaVcto" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small">
                        <label for="txtcEstado" class="inline">Estado:</label>
                        <input type="text" readonly id="txtcEstado" style="font-weight: bolder" />
                    </p>
                    <p class="_50 small">
                        <label for="txtcAnalista" class="inline">Analista:</label>
                        <input type="text" readonly id="txtcAnalista" style="font-weight: bolder" />
                    </p>
                    <p class="_25 small todo des">
                        <label for="txtcCancelacion" class="inline">Saldo Cancelación:</label>
                        <input type="text" readonly id="txtcCancelacion" style="font-weight: bolder" />
                    </p>
                </div>


                <div class="actions">
                    <div class="left">
                        <button id="btncImpEstadoCuenta" class="todo pen des block"><span class="icon icon-print"></span>Estado de Cuenta</button>
                        <button id="btncImpPlanPago" class="todo pen des block"><span class="icon icon-print"></span>Plan de Pagos</button>
                        <button id="btncImpMovimiento" class="todo des his block"><span class="icon icon-print"></span>Movimientos</button>
                        <button id="btncReprogramar" class="todo des block"><span class="icon icon-ok"></span>REPROGRAMAR</button>
                        <button id="btncCargos" class="todo des block"><span class="icon icon-repeat"></span>Cargos</button>
                    </div>
                    <div class="right">
                        <button id="btncAnular" class="todo des block red"><span class="icon icon-remove"></span>Anular</button>
                        <button id="btncRechazar" class="todo pen block red"><span class="icon icon-remove"></span>Rechazar</button>
                        <button id="btncAprobar" class="todo pen block"><span class="icon icon-ok"></span>Aprobar</button>
                    </div>
                </div>
                <div class="grid_12">
                    <table id="grdPrestamo"></table>
                </div>
            </form>
        </div>
        <div style="display: none;" id="dlgCargo" title="Cargos / Comisiones">
            <form class="full validate" id="frmcargo">
                <div class="row">
                    <label for="drpTipoCargo">
                        <strong>Tipo:</strong>
                    </label>
                    <div>
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    <select id="drpTipoCargo"></select>
                                </td>
                                <td style="text-align: center">
                                    <strong>Monto:</strong>
                                </td>
                                <td>
                                    <input type="text" class="required" id="txtMontoCargo" value="0.00" style="text-align: center" min="0.5" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <label for="txtdescCargo">
                        <strong>Descripcion:</strong>
                    </label>
                    <div>
                        <input class="required" type="text" name="txtdescCargo" id="txtdescCargo" />
                    </div>
                </div>
                <div class="row">
                    <label>
                        <strong>Aplicar cargo:</strong>
                    </label>
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <input type="radio" name="rbCargo" id="rbCargoActual" value="I" checked="checked" /><label for="rbCargoActual">En la cuota actual</label>&nbsp;&nbsp;
                                    <input type="radio" name="rbCargo" id="rbCargoFinal" value="F" /><label for="rbCargoFinal">En la última cuota</label>
                                </td>
                                <td>
                                    <input id="btnCrearCargo" type="button" value="Crear Cargo" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
            <div class="actions">
                <table id="grdCargo"></table>
                <div id="grdpCargo"></div>
            </div>
            <div class="actions">
                <div class="left">
                    <button class="grey cancel">Salir</button>
                </div>
            </div>
        </div>

        <style>
            .myclassTotal td {
                font-weight: bolder !important;
                background-color: #ecf1f4 !important;
            }

            .field-creado {
                background: #FAFF00;
                border: 1px solid #FB9804;
            }

            .field-pendiente {
                background: #faf189;
                border: 1px solid #FB9804;
            }

            .field-pagado {
                background: #D0FE92;
                border: 1px solid #00AA00;
            }

            .field-error {
                background: #F7E5E5;
                border: 1px solid #FB9804;
                /*border: 1px solid #E63836;*/
            }
        </style>
        <script>
            $(function () {
                mostrarCredito(@(Model.Creditos.FirstOrDefault() == null ? 0 : Model.Creditos.First().CreditoId));
                $("#txtMontoCargo").numeric(2);
                $("#dlgCargo").dialog({
                    autoOpen: false,
                    modal: true,
                    width: 650,
                    open: function () {
                        $(this).parent().css('overflow', 'visible');
                        $$.utils.forms.resize();
                    }
                }).find('button.cancel').click(function () {
                    var $el = $(this).parents('.ui-dialog-content');
                    $el.find('form')[0].reset();
                    $el.dialog('close');
                });
                $("#btnCrearCargo").click(function () {
                    if ($("#frmcargo").validate().form()) {
                        $.ajax({
                            type: 'POST',
                            url: "@Url.Action("GuardarCargo", "Credito")",
                            data: {
                                pCreditoId: $.data(document.body, 'CreditoId'),
                                pTipoCargoId: $("#drpTipoCargo").val(),
                                pMonto: $("#txtMontoCargo").val(),
                                pDescripcion: $("#txtdescCargo").val(),
                                pFinal: $("#rbCargoFinal").prop('checked')
                            },
                            success: function (data) {
                                Vendix.Notificar("Modificar");
                                $("#grdCargo,#grdPrestamo").trigger("reloadGrid");
                                $("#dlgCargo").find('form')[0].reset();
                                $("#drpTipoCargo").trigger("liszt:updated");
                            }
                        });
                    }
                });
                $("#btncCargos").click(function () {
                    event.preventDefault();
                    $("#dlgCargo").find('form')[0].reset();
                    Vendix.CargarCombo("@Url.Action("ListarTipoCargo", "Credito")", "drpTipoCargo");

                    if ($("#gbox_grdCargo").length > 0)
                        $("#grdCargo").trigger("reloadGrid");
                    else {
                        $("#grdCargo").jqGrid({
                            url: "@Url.Action("ListarCargoGrd", "Credito")",
                            datatype: "json",
                            postData: {
                                filters: function () {
                                    return $.toJSON([{ Key: "CreditoId", Value: $.data(document.body, 'CreditoId') }]);
                                }
                            },
                            colNames: ['Cargoid', 'Usuario', 'TipoCargo', 'Importe', 'Descripcion', 'Cuota', 'Estado'],
                            colModel: [
                                { name: "Cargoid", index: "Cargoid", hidden: true },
                                { name: "Usuario", index: "Usuario", width: 80, sortable: false },
                                { name: "TipoCargo", index: "TipoCargo", width: 100, sortable: false },
                                { name: "Importe", index: "Importe", width: 50, align: "center", sortable: false },
                                { name: "Descripcion", index: "Descripcion", width: 200, sortable: false },
                                { name: "NumCuota", index: "NumCuota", width: 40, align: "center", sortable: false },
                                { name: "Estado", index: "Estado", width: 40, align: "center", sortable: false }
                            ],
                            caption: "CARGOS / COMISIONES",
                            pager: $('#grdpCargo'),
                            rowNum: 5,
                            rowList: [5, 10, 15],
                            sortname: 'Cargoid',
                            sortorder: "asc",
                            viewrecords: true,
                            rownumbers: true,
                            width: '610',
                            height: '116',
                        });
                    }
                    $("#dlgCargo").dialog('open');
                    return false;
                });
            });

            function mostrarCredito(CreditoId) {
                if (CreditoId == 0) {
                    $(".credito").hide();
                    return;
                }
                $(".credito").show('fast');
                $.data(document.body, 'CreditoId', CreditoId);
                $('#lblcCreditoId').text(CreditoId);
                $.ajax({
                    url: "@Url.Action("ObtenerCredito", "Credito")",
                    data: { pCreditoId: CreditoId },
                    success: function (ret) {
                        $('#lblcDescripcion').text(ret.Descripcion);
                        $('#txtcTipoProducto').val(ret.ProductoCre);
                        $('#txtcProducto').val(ret.MontoProducto.toFixed(2));
                        $('#txtcInicial').val(ret.MontoInicial.toFixed(2));
                        $('#txtcGA').val(ret.MontoGastosAdm.toFixed(2));
                        $('#txtcCredito').val(ret.MontoCredito.toFixed(2));

                        $('#txtcFormaPago').val(ret.FormaPago);
                        $('#txtcCuotas').val(ret.NumeroCuotas);
                        $('#txtcInteres').val(ret.InteresMensual.toFixed(2));
                        $('#txtcFechaDesembolso').val(ret.Desembolso);
                        $('#txtcFechaAprobacion').val(ret.Aprobacion);
                        $('#txtcFechaVcto').val(ret.Vencimiento);
                        $('#txtcEstado').val(ret.Estado);
                        $('#txtcAnalista').val(ret.Analista);

                        $("#grdPrestamo").trigger("reloadGrid");

                        $('.todo').hide();
                        if (ret.Estado == 'DES') { $('.des').show(); $('#txtcCancelacion').val(ret.SaldoCancelacion.toFixed(2)); }
                        else if (ret.Estado == 'PEN') $('.pen').show();
                        else if (ret.Estado == 'PAG' || ret.Estado == 'ANU' || ret.Estado == 'REP') $('.his').show();
                    }
                });

                if ($("#gbox_grdPrestamo").length > 0)
                    $("#grdPrestamo").trigger("reloadGrid");
                else {
                    $("#grdPrestamo").jqGrid({
                        url: "@Url.Action("ListarPlanPagoActGrd", "Credito")",
                        datatype: "json",
                        postData: {
                            filters: function () {
                                return $.toJSON([{ Key: "pCreditoId", Value: $.data(document.body, 'CreditoId') }]);
                            }
                        },
                        colNames: ['No', 'Capital', 'F Vcto.', 'Amortizacion', 'Interes', 'G. Adm', 'Cuota', 'Atrazo', 'Imp.Mora', 'Int.Mora', 'Cargo', 'Pago Libre', 'Total Pago', 'Estado', 'Fecha Pago'],
                        colModel: [
                            { name: "Numero", index: "Numero", align: "center", width: 30, sortable: false },
                            { name: "Capital", index: "Capital", width: 70, align: "right", sortable: false },
                            { name: "FechaVencimiento", index: "FechaVencimiento", width: 80, align: "center", sortable: false },
                            { name: "Amortizacion", index: "Amortizacion", width: 70, align: "right", sortable: false },
                            { name: "Interes", index: "Interes", width: 60, align: "right", sortable: false },
                            { name: "GastosAdm", index: "GastosAdm", width: 50, align: "right", sortable: false },
                            { name: "Cuota", index: "Cuota", width: 70, align: "right", sortable: false },
                            { name: "DiasAtrazo", index: "DiasAtrazo", width: 50, align: "center", sortable: false },
                            { name: "ImporteMora", index: "ImporteMora", width: 60, align: "right", sortable: false },
                            { name: "InteresMora", index: "InteresMora", width: 60, align: "right", sortable: false },
                            { name: "Cargo", index: "Cargo", width: 50, align: "right", sortable: false },
                            { name: "PagoLibre", index: "PagoLibre", width: 70, align: "right", sortable: false },
                            { name: "PagoCuota", index: "PagoCuota", width: 80, align: "right", sortable: false },
                            { name: "Estado", index: "Estado", width: 50, align: "center", sortable: false, formatter: LinkReimpresion },
                            { name: "FechaPago", index: "FechaPago", width: 80, align: "center", sortable: false }
                        ],
                        caption: "CUOTAS PENDIENTES",
                        rowNum: 200,
                        height: '100%',
                        sortname: 'Numero',
                        sortorder: "desc",
                        viewrecords: true,
                        gridview: true,
                        autowidth: true,
                        width: 'auto',
                        gridComplete: function () {
                            var grd = $("#grdPrestamo");
                            var rows = grd.getDataIDs();

                            for (var i = 0; i < rows.length - 3; i++) {
                                var ret = grd.jqGrid('getRowData', rows[i]);
                                if (ret.Estado == 'PAG') {
                                    $("#" + rows[i]).addClass("field-pagado");
                                } else if (ret.Estado == 'CRE')
                                    $("#" + rows[i]).addClass("field-creado");
                                else if (ret.Estado == 'PEN' && ret.DiasAtrazo > 0) {
                                    $("#" + rows[i]).addClass("field-error");
                                } else {
                                    $("#" + rows[i]).addClass("field-pendiente");
                                }
                            }
                            grd.jqGrid('setRowData', rows[rows.length - 3], false, 'myclassTotal');
                            grd.jqGrid('setRowData', rows[rows.length - 2], false, 'myclassTotal');
                            grd.jqGrid('setRowData', rows[rows.length - 1], false, 'myclassTotal');
                        }
                    });
                }
            }

            $("#grdHistorial").jqGrid({
                url: "@Url.Action("ListarCreditosGrd", "Credito")",
                datatype: "json",
                postData: {
                    filters: function () {
                        return $.toJSON([
                            { Key: "Buscar", Value: "@Model.Persona.PersonaId" },
                            { Key: "Estado", Value: "HIS" }]);
                    }
                },
                colNames: ['ID', 'MONTO', 'INICIAL', 'CREDITO', 'MODO', 'CUOTAS', 'ESTADO'],
                colModel:
                    [
                        { name: 'CreditoId', index: 'CreditoId', width: 60, align: "center", sortable: false },
                        { name: 'MontoProducto', index: 'MontoProducto', width: 70, align: "right", sortable: false },
                        { name: 'Inicial', index: 'Inicial', width: 70, align: "right", sortable: false },
                        { name: 'MontoCredito', index: 'MontoCredito', width: 70, align: "right", sortable: false },
                        { name: 'FormaPago', index: 'FormaPago', width: 60, align: "center", sortable: false },
                        { name: 'NumeroCuotas', index: 'NumeroCuotas', width: 60, align: "center", sortable: false },
                        { name: 'Estado', index: 'Estado', align: "center", sortable: false }
                    ],
                caption: "HISTORIAL DE CRÉDITOS",
                pager: $('#grdpHistorial'),
                rowNum: 5,
                rowList: [5, 10, 15],
                sortname: 'CreditoId',
                sortorder: "desc",
                viewrecords: true,
                rownumbers: true,
                autowidth: true,
                height: '116',
                ondblClickRow: function () {
                    var id = jQuery("#grdHistorial").jqGrid('getGridParam', 'selrow');
                    if (id) {
                        var ret = $("#grdHistorial").jqGrid('getRowData', id);
                        mostrarCredito(ret.CreditoId);
                    }
                }
            });


            $('#btncImpEstadoCuenta').click(function () {
                event.preventDefault();
                var ruta = '@Url.Action("ReporteEstadoCredito", "Reporte")' + '?pCreditoId=' + $.data(document.body, 'CreditoId');
                Vendix.Reporte(ruta);
                return false;
            });
            $('#btncImpPlanPago').click(function () {
                event.preventDefault();
                var ruta = '@Url.Action("ReportePlanPagos", "Reporte")' + '?pCreditoId=' + $.data(document.body, 'CreditoId');
                Vendix.Reporte(ruta);
                return false;
            });
            $('#btncImpMovimiento').click(function () {
                event.preventDefault();
                var ruta = '@Url.Action("ReporteCreditoMovimiento", "Reporte")' + '?pCreditoId=' + $.data(document.body, 'CreditoId');
                Vendix.Reporte(ruta);
                return false;
            });
            $("#btncReprogramar").click(function () {
                event.preventDefault();
                var id = $.data(document.body, 'CreditoId');
                if (id) {
                    Vendix.Dialogo("Desea REPROGRAMAR el crédito indicado?", "SiNo", function () {
                        $.ajax({
                            url: "@Url.Action("ReprogramarCredito", "Credito")",
                            data: { pCreditoId: id },
                            success: function (ret) {
                                window.location.reload();
                            }
                        });
                    });
                } else {
                    Vendix.Mensaje("Por favor seleccione un credito");
                }
            });

            $('#btncAnular').click(function () {
                event.preventDefault();
                var id = $.data(document.body, 'CreditoId');
                if (id) {
                    $.ajax({
                        url: "@Url.Action("ValidarAnularCredito", "Credito")",
                        data: { pCreditoId: id },
                        success: function (ret) {
                            if (ret) {
                                Vendix.DialogoObs("Ingrese la Observación para anular.", function () {
                                    $.ajax({
                                        url: "@Url.Action("AnularCredito", "Credito")",
                                        data: { pCreditoId: id, pObservacion: $.data(document.body, 'txtObsBase') },
                                        success: function (rpt) {
                                            if (rpt) {
                                                window.location.reload();
                                                //$('#btnImpEstCre,#btnImpPlan,#btnMovimiento,#btnAprobarCre,#btnRechazarCre,#btnAnularCre').hide();
                                                //$("#grdCreditoPen,#grdCredito").trigger("reloadGrid");
                                                //Vendix.Notificar();
                                            }
                                        }
                                    });
                                });
                            } else
                                Vendix.Dialogo("Tiene Pagos, No se Puede Anular el Crédito", "Aceptar");
                        }
                    });
                } else {
                    Vendix.Mensaje("Por favor seleccione un credito");
                }
            });
            $('#btncRechazar').click(function () {
                event.preventDefault();
                var id = $.data(document.body, 'CreditoId');
                if (id) {
                    Vendix.Dialogo("Desea Rechazar el crédito indicado?", "SiNo", function () {
                        $.ajax({
                            url: "@Url.Action("RechazarCredito", "Credito")",
                            data: { pCreditoId: id },
                            success: function (ret) {
                                window.location.reload();
                                //$('#btnImpEstCre,#btnImpPlan,#btnMovimiento,#btnAprobarCre,#btnRechazarCre,#btnAnularCre').hide();
                                //$("#grdCreditoPen").trigger("reloadGrid");
                                //Vendix.Notificar();
                            }
                        });
                    });
                } else {
                    Vendix.Mensaje("Por favor seleccione un credito");
                }
            });
            $('#btncAprobar').click(function () {
                event.preventDefault();
                var id = $.data(document.body, 'CreditoId');
                if (id) {
                    Vendix.Dialogo("Desea Aprobar el crédito indicado?", "SiNo", function () {
                        $.ajax({
                            url: "@Url.Action("AprobarCredito", "Credito")",
                            data: { pCreditoId: id },
                            success: function (ret) {
                                mostrarCredito(id);

                                //$('#btnImpEstCre,#btnImpPlan,#btnMovimiento,#btnAprobarCre,#btnRechazarCre,#btnAnularCre').hide();
                                //$("#grdCreditoPen").trigger("reloadGrid");
                                Vendix.Notificar();
                            }
                        });
                    });
                } else {
                    Vendix.Mensaje("Por favor seleccione un credito");
                }
            });
        </script>
    }
</div>



<script>
    $$.ready(function () {

        $.data(document.body, 'PersonaId', '@ViewBag.PersonaId');

        $("#btnCrearSolicitud").click(function () {
            Vendix.Dialogo("Deseas crear la solicitud de crédito?", "SiNo", function () {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("CrearSolicitudCredito", "Credito")",
                    data: {
                        pPersonaId: $.data(document.body, 'PersonaId')
                    },
                    success: function (rep) {
                        window.location = '@Url.Action("Creditos", "Credito")' + "?pPersonaId=" + $.data(document.body, 'PersonaId');
                    }
                });
            });
        });

        $("#cboProducto").change(function () {
            $.ajax({
                url: "@Url.Action("ObtenerProducto", "Credito")",
                data: { pProductoId: $(this).val() },
                success: function (ret) {
                    $("#txtInteres").val(parseFloat(ret.InteresMaxima).toFixed(2));
                    $("#lblInteresRango").text("Interes Min: " + parseFloat(ret.InteresMinima).toFixed(2) + " Max: " + parseFloat(ret.InteresMaxima).toFixed(2));
                    $("#lblImpMoratorio").text("Importe Moratorio" + ret.ImporteMoratorio);
                    $("#lblDiasGracia").text("Días de Gracia" + ret.DiasGracia);
                    CalcularGastosAdm();
                }
            });
        });
        $("#cboFormaPago").change(function () {
            $.ajax({
                url: "@Url.Action("ObtenerFechaPrimerPago", "Credito")",
                data: { pModalidad: $(this).val() },
                success: function (ret) {
                    $("#txtFechappSol").val(ret);
                }
            });
        });

        $(".abrir-buscarCliente").click(function () {
            $("#dialogo_buscar_cliente").dialog("open");
            return false;
        });

        $("#txtCliente").autocomplete({
            source: "@Url.Action("BuscarCliente", "Cliente")",
            minLength: 2,
            select: function (event, ui) {
                // alert(ui.item.id);
                window.location = '@Url.Action("Creditos", "Credito")' + "?pPersonaId=" + ui.item.id;
            }
        });

        $("#btnSimulador").click(function () {
            var ga = $("#txtGa").val();
            if ($('#cboGA').val() == 'ADE') ga = 0;

            var ruta = '@Url.Action("ReporteSimuladorPlanPagos", "Reporte")' +
                '?pProductoid=' + $("#cboProducto").val() + '&pTipo=' + $("#cboTipoCuota").val() + '&pMonto=' + $("#txtMontoCredito").val() + '&pCuotas=' + $("#txtNroCuotas").val() + '&pInteres=' + $("#txtInteres").val() + '&pFecha=' + $("#txtFechappSol").val() + '&pModalidad=' + $("#cboFormaPago").val() + '&pGastosAdm=' + ga;
            //window.open(ruta);
            Vendix.Reporte(ruta);
            return false;
        });

        $("#btnGenerarCredito").click(function () {
            event.preventDefault();

            var montocredito = parseFloat($("#txtMontoCredito").val());
            if (montocredito <= 0) {
                Vendix.Mensaje("Error: El monto de credito debe ser mayor cero");
                return;
            }

            Vendix.Dialogo("Desea generar el crédito para aprobación?", "SiNo", function () {
                $.ajax({
                    url: "@Url.Action("GenerarCredito", "Credito")",
                    data: {
                        pProductoId: $("#cboProducto").val(),
                        pTipoCuota: $("#cboTipoCuota").val(),
                        pAnalistaId: $("#cboAnalista").val(),
                        pMontoInicial: 0.0,
                        pMontoGastosAdm: $("#txtGa").val(),
                        pIndGastosAdm: $("#cboGA").val(),
                        pMontoCredito: $("#txtMontoCredito").val(),
                        pModalidad: $("#cboFormaPago").val(),
                        pNumerocuotas: $("#txtNroCuotas").val(),
                        pInteresMensual: $("#txtInteres").val(),
                        pFecha: $("#txtFechappSol").val(),
                        pObservacion: $("#txtObsSol").val()
                    },
                    success: function (ret) {
                        if (ret.length == 0)
                            window.location.reload();
                        else {
                            Vendix.Mensaje("Error: " + ret);
                        }
                    }
                });
            });
        });

    });


    function RechazarCredito(CreditoId) {
        Vendix.Dialogo("Desea Rechazar el crédito indicado?", "SiNo", function () {
            $.ajax({
                url: "@Url.Action("RechazarCredito", "Credito")",
                data: { pCreditoId: CreditoId },
                success: function (ret) {
                    $("#divSolicitud").hide();
                    Vendix.Notificar();
                }
            });
        });
    }

    function LinkReimpresion(cellvalue, options, rowObject) {
        var arr = cellvalue.split(',');
        if (arr[0] != 'PAG') return arr[0];

        return "<a href='' onclick='MostrarReimpresion(" + arr[1] + ");return false;'> " + arr[0] + " </a>";

    };

    function MostrarReimpresion(MovimientoCajaId) {
        //alert(MovimientoCajaId);
        var ruta = '@Url.Action("ReporteMovimientoCaja", "Reporte")' + '?pMovimientoCajaId=' + MovimientoCajaId;
        Vendix.Reporte(ruta);
    }

    @*function ImprimirMovCaja(pMovimientoCajaId) {
        var ruta = '@Url.Action("ReporteMovimientoCaja", "Reporte")' + '?pMovimientoCajaId=' + pMovimientoCajaId;
        //window.open(ruta);
        Vendix.Reporte(ruta);
    }*@

    @*function editLink(cellValue, options, rowdata, action) {
        //ver como abrir la reinpresion
        var ruta = '@Url.Action("ReporteMovimientoCaja", "Reporte")' + '?pMovimientoCajaId=' + pMovimientoCajaId;
        //window.open(ruta);

    }*@
</script>
